@model ReciclaFuturo.Models.MoradorModel

<h1>Confirmação de Exclusão</h1>

<h3>Tem certeza que deseja excluir o morador @Model.Nome?</h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="MoradorId" />
    <button type="submit" class="btn btn-danger">Confirmar</button> |
    <a asp-action="Index">Cancelar</a>
</form>
